# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
env/
venv/

# Large Model Weight Files & Stubs
models/
*.pt
*.pth
*.onnx
*.engine
*.pkl

# Video Datasets & Analytics Data
data/input/*
!data/input/.gitkeep
data/output/*
!data/output/.gitkeep
data/soccernet/*
!data/soccernet/.gitkeep
data/Temp/
!data/Temp/.gitkeep

# Environment variables & secrets
.env

# IDE & System files
.vscode/
.idea/
.DS_Store
Thumbs.db
